/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

p {
  color: black;
  font-size: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
